@import url('https://fonts.googleapis.com/css?family=Bangers');
*   {
    margin:0;
    padding:0;
    font-size: 0;
}
html{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 30px;
    color: white;
    font-family: 'Bangers', cursive;
    margin-top: -50px;
    margin-left: 50px;
}
h2{
    font-size: 15px;
    color: white;
    font-family: 'Bangers', cursive;
    margin-left: 50px;
}
body{
    background-color: #333;
    height: 100%;
}
button {
    all: unset;
}
a:focus,
.focus a {
	outline: none !important;
}
a {
    outline: 0;
 }
.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
#myImage{
    image-rendering: pixelated; 
    width: 300px; 
    height: 300px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 100px;
}
#button_container{
    margin-top: 100px;
    width: 100%; 
    text-align: center;
}
#title{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    width: 100%;
    color: white;
}
#btn{
    transition-duration: 100ms;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    background-color: none;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 10px;
}
#btn:hover{
    transition-duration: 100ms;
    font-size: 60px;
}
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}