<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta name="viewport" >
    <head>
        <script type="text/javascript" src="js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div style="position: absolute; left: font-size: 20px;">
            <h1>Random Item Generator</h1>
            <h2>Porter Libby 2019</h2>
        </div>
        <img id="myImage" />
        <div style="text-align: center;">
            <span id="title"></span>
        </div>
        <div id="button_container">
            <button id="btn" onclick="showImage()">New Item</button>
        </div>
        <script>
            showImage();
        </script>
    </body>
    
</html>
